.controls
  #template.d-none data-answer-target="template" data-template=@question.json_attributes
  button.btn.btn-primary.w-100 data-answer-target="submit" data-action="click->answer#verify" Kiểm tra
