@import 'variables';
@import 'reset';
@import "_katex";
@import "test";

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 850px;
  }
}

$address-bar-height: 60px;

.question-section {
  padding-top: 15px;
  min-height: calc(100vh - $address-bar-height);
  border-right: 1px solid #CCC;
}

.answers-section {
  padding-top: 15px;
  min-height: calc(100vh - $address-bar-height);
}

.answer {
  margin-bottom: 10px;
}

//==============================
@keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

// .answer.highlight {
//   border-radius: 10px;
//   animation: border-angle-rotate 3s infinite linear;
//   border: 3px solid transparent;

//   background: linear-gradient(white, white) padding-box,
//     conic-gradient(
//       from var(--border-angle),
//       hsl(0, 100%, 50%),
//       hsl(45, 100%, 50%),
//       hsl(90, 100%, 50%),
//       hsl(135, 100%, 50%),
//       hsl(180, 100%, 50%),
//       hsl(225, 100%, 50%),
//       hsl(270, 100%, 50%),
//       hsl(315, 100%, 50%),
//       hsl(360, 100%, 50%)
//     ) border-box;
// }

@keyframes glow {
  0% { box-shadow: 0 0 1px #236d98; }
  50% { box-shadow: 0 0 10px #236d98; }
  100% { box-shadow: 0 0 1px #236d98; }
}

.answer.highlight {
  border-radius: 10px;
  border: 2px solid #236d98; /* Yellow border */
  animation: glow 1.5s infinite alternate;

  .toggle-lbl {
    background-color: #acd1f4 !important;
  }
}

//==============================
.toggle-lbl {
  width: 100%;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #e0e0e0;
  // border: 1px solid #ccc;
}

.toggle-btn:checked + .toggle-lbl {
  border: 1px solid #989898;
  background: #c1c1c1;
}

//==============================

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-right: 20px;

  span.mfrac {
    font-weight: bold;
  }

  &.correct:after {
    background: no-repeat url('checked.png');
  }

  &.incorrect:after {
    background: no-repeat url('delete.png');
  }

  &.correct:after, &.incorrect:after {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    background-size: 30px;
  }
}

//==============================
span.mfrac {
  font-size: 26px;
  font-family: $main-font;
}

.katex .mathnormal {
  font-family: $main-font;
  font-size: 18px;
  font-style: normal;
}
//==============================
.square {
  border: 1px solid black;
  min-width: 50px;
  height: 50px;
  padding: 0 5px;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}
