@import 'variables';
@import 'reset';
@import "_katex";

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 850px;
  }
}

$address-bar-height: 60px;

.question-section {
  padding-top: 15px;
  min-height: calc(100vh - $address-bar-height);
  border-right: 1px solid #CCC;
}

.answers-section {
  padding-top: 15px;
  min-height: calc(100vh - $address-bar-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer {
  margin-bottom: 10px;
}

//==============================
@keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.answer.highlight {
  // --border-angle: 0deg;
  border-radius: 10px;
  // box-shadow: 0px 2px 4px #CCC;
  animation: border-angle-rotate 3s infinite linear;
  border: 3px solid transparent;

  background: linear-gradient(white, white) padding-box,
  conic-gradient(
    from var(--border-angle),
    oklch(100% 50% 0deg),
    oklch(100% 100% 45deg),
    oklch(100% 100% 90deg),
    oklch(100% 100% 135deg),
    oklch(100% 50% 180deg),
    oklch(100% 100% 225deg),
    oklch(100% 100% 270deg),
    oklch(100% 100% 315deg),
    oklch(100% 100% 360deg)
  )
  border-box;
}

//==============================
.toggle-lbl {
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.toggle-btn:checked + .toggle-lbl {
  border: 1px solid #0d6efd;
}

//==============================

h4.title {
  font-weight: bold;
  margin-bottom: 15px;

  &.correct:after {
    background: no-repeat url('checked.png');
  }

  &.incorrect:after {
    background: no-repeat url('delete.png');
  }

  &.correct:after, &.incorrect:after {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    background-size: 30px;
  }
}

//==============================
span.mfrac {
  font-size: 24px;
  font-family: $main-font;
}
//==============================
